body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin:0;
    overflow: hidden;
    padding:20px;
    margin-right: 180px;
  }
  
  nav ul li {
    float: right;
  }
  
  nav ul li a {
    display:block;
    color:white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    font-size: 1.1rem;

  }
  
  nav ul li a:hover {
    background-color:turquoise;
  }
  
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .portfolio-item {
    width: 300px;
    margin: 20px;
    box-shadow: 0px 0px 10px #888888;
    overflow: hidden;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
  }
  
  .portfolio-item h3 {
    padding: 10px;
    font-size: 20px;
  }
  
  .portfolio-item p {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  footer {
    background-color: #CCCCCC;
    color: #222222;
    padding: 20px;
    text-align: center;
  }